.text-field {
  display: block;
  text-align: left;
  width: 250px;
}

.text-field .input {
  width: 250px;
}

.text-field.invalid .input {
  border: 2px solid #d10034;
}

.text-field.invalid .error {
  display: block;
  color: #d10034;
  font-size: 11px;
  width: 250px;
}

